html {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
	width: 100%;

	margin: 0px;
	padding: 0px;

	background: url("/static/img/light.jpg");
	background-color: #FFF;
	font-family: "Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
	color: #333333;
	font-size: 14px;
}

#header {
	width: 100%;
	height: 40px;
	margin: 0;
	padding: 0;
	top: 0;
/*
	position: fixed;
	z-index: 1000;
*/
	/*padding: 15px 0 30px 0;*/
	background-color: #222;
	border-bottom: solid 1px #555;
	color: #AAA;
	font-weight: bold;
	text-shadow: 1px 1px #000;
}

#header img#logo {
	padding: 0;
	margin: 0px 0 0 20px;
	position: absolute;
}

#header ul {
	width: 100%;
	margin: 0;
	padding: 0;
	padding-right: 50px;

	list-style: none;
	display: block;
	float: right;
}

#header ul li {
	position: relative;
	float: right;
	padding: 12px 0 12px 0;
	margin-right: 10px;
}

#header ul li a, #header ul li a:visited, #header ul li a:link {
	color: #AAA;
	text-decoration: none;
}

#header ul li a:hover {
	color: #b0c852;
}

#header ul li ul {
	width: 135px;
	list-style: none;
	position: absolute;
	padding: 5px;
	float: left;
	display: none;

	background: #222;
	border: solid 1px #555;
	border-top: none;

	top: 40px;
	font-size: 12px;
}

#header ul li ul li {
	float: left;
	padding: 0;
	padding-bottom: 3px;
}

#header ul li ul li a {
}

#content {
	margin: 50px 15% 0 15%;

	color: #CCC;
	text-shadow: 1px 1px #000;
}

#content h1 {
	margin-bottom: 50px;
}

#content a, #content a:link, #content a:visited {
	color: #FFF;
}

#content a:hover {
	color: #b0c852;
}

#content .twoColumns {
	margin-bottom: 10px;
}

#content .twoColumns .label {
	display: inline-block;
	width: 100px;
}

.product {
	padding: 15px;
	margin-bottom: 10px;
}

.product h3, .product h3 a, .product h3 a:link, .product h3 a:visited {
	margin: 0;
	padding: 0;
	text-decoration: none;
}

table {
	border-collapse: collapse;
	margin-bottom: 20px;
	background-color: #222;
}

table, th, td {
	border: 1px solid #555;
	text-align: center;
}

th {
	background-color: #046496;
}

th, td {
	padding: 5px 10px 5px 10px;
}
