{% extends "template.html" %}

{% block content %}

<h1>Carrinho de Compras</h1>
<table>
	<tr>
		<th>Produto</th>
		<th>Quantidade</th>
		<th>Preço (Unidade)</th>
		<th>Sub-total</th>
	</tr>
	<!-- put this inside a 'for' with cart data coming from server -->
{% for item in itens %}
	<tr>
		<td><a href="#">{{ item.product.name }}</a></td>
		<td>{{ item.quantity }}</td>
		<td>{{ item.product.price }}</td>
		<td>{{ item.totalPrice }}</td>
	</tr>
{% endfor %}

</table>
<button onclick="void(0);">Efetuar Compra</button>

{% endblock %}

