{% extends "template.html" %}

{% block content %}

<h1>Carrinho de Compras</h1>
<table>
	<tr>
		<th>Produto</th>
		<th>Quantidade</th>
		<th>Preço (Unidade)</th>
		<th>Sub-total</th>
	</tr>
	<!-- put this inside a 'for' with cart data coming from server -->
{% for item in itens %}
	<tr class="cartItem">
		<td><a href="/view/product/{{ item.product.key }}">{{ item.product.name }}</a></td>
		<td>{{ item.quantity }}</td>
		<td>{{ item.product.price }}</td>
		<td>{{ item.totalPrice }}</td>
	</tr>
{% endfor %}
</table>

Endereço de Entrega:
<input type='text' id='shippingAddress'>
<br/>
Forma de Pagamento:
<select id='paymentMethod'>
	<option value="card">Cartão de Crédito</option>
	<option value="billet">Boleto Bancário</option>
	<option value="paypal">PayPal</option>
</select>
<br/>
Preço Total: R$ {{ totalPrice }}
<br/><br/>
<button href="javascript:void(0);" onclick="shop.registerOrder();">Efetuar Compra</button>

{% endblock %}

