{% extends "template.html" %}

{% block content %}

<h1>Página Inicial</h1>
<!--<a class="button">teste</a>-->

<div class="product">
	<!-- image -->
	<h3><a href="#">Nome</a></h3>
	<p>
		Descrição aqui. Hehehe. Lalala. Um Produto
	</p>
	<span class="price">R$ 10,00</span>
	<input type="text" class="quantitySpinner" size="2"/>
	<a href="#">Adicionar ao carrinho</a>
</div>

<div class="product">
	<!-- image -->
	<h3><a href="#">Nome</a></h3>
	<p>
		Descrição aqui. Hehehe. Lalala. Um Produto
	</p>
	<span class="price">R$ 10,00</span>
	<input type="text" class="quantitySpinner" size="2"/>
	<a href="#">Adicionar ao carrinho</a>
</div>

{% endblock %}

