{% extends "template.html" %}

{% block content %}

<h1>Página Inicial</h1>
<!--<a class="button">teste</a>-->

{% for p in products %}
<div class="product">
	<!-- image -->
	<h3><a href="/view/product/{{ p.key }}">{{ p.name }}</a></h3>
	<p>
		{{ p.description }}
	</p>
	<span class="price">R$ {{ p.price }}</span>
	<input type="text" class="quantitySpinner" id="quantity_{{ p.key }}" size="2"/>
	<a href="javascript:void(0);" onclick="shop.addToCart('{{ p.key }}');">Adicionar ao carrinho</a>
</div>
{% endfor %}

{% endblock %}

